s,
p1 {
  font-size: 20px;
  text-align: center;
}
p3 {
  color: gold;
}
s {
  color: #3c3c3c;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
}
p1 {
  color: red;
}

.link {
  text-decoration: none;
}

p4 {
  font-weight: 900;
}

.custom_img {
  width: 100%;
  height: 60%;
  margin: auto;
}

.saridetails {
  /* border: 5px solid green; */
  width: 80%;
}

.saridetails h3 {
  /* background-color: #3C3C3C;
  color: white; */
  text-align: center;
  /* border-radius: 25px; */
  padding: 7px;
}

/* .box5inner{
  border: 1px solid purple;
  width: 50%;
  height: 50%;
}


#box5{
  border: 1px solid red;

} */

.mainslider .slick-prev {
  left: 10px;
  z-index: 1;
}

.mainslider .slick-next {
  right: 10px;
  z-index: 1;
}

#TOP {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  justify-content: space-between;
  width: 96%;
  margin: auto;
  margin-top: 60px;
  cursor: pointer;
}
#TOP > div {
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
#TOP > div > div {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #3c3c3c;
}
img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  cursor: pointer;
}
#BOX1 {
  margin-top: 20px;
  border: 1px solid red;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.A {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #3c3c3c;
  cursor: pointer;
}

.A > p {
  margin-bottom: 10px;
  font-size: 28px;
}
.A > h3 {
  margin-top: 15px;
  font-size: 50px;
  font-style: italic;
  color: #000000c9;
}

#box1 {
  width: 90%;
  margin: auto;
  cursor: pointer;
}

.B {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #3c3c3c;
  cursor: pointer;
}

.B > p {
  margin-bottom: 15px;
  font-size: 20px;
}
.B > h3 {
  margin-top: 15px;
  font-size: 30px;
  color: #000000c9;
  font-style: italic;
}
.B > h4 {
  margin-top: 10px;
}

.products {
  margin: 120px 0px 20px 0px;
  cursor: pointer;
}
.products {
  width: 88%;
  margin: auto;
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products > img {
  width: 100%;
  border-radius: 20px;
}

.C {
  width: 90%;
  margin: auto;
  text-align: center;
  /* border: 1px solid red; */
  /* font-style: italic; */
  cursor: pointer;
}
.C > div > h3 {
  color: #000000;
  font-size: 30px;
  font-style: italic;
}
.C > div > p {
  font-size: 20px;
  color: #3c3c3c;
}
#pic > img {
  /* margin-bottom: 10px; */
  margin-left: 90px;
  cursor: pointer;
}
/* ...................................................................................................... */

/* ............................................................................................ */

.G {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  color: #3c3c3c;
  cursor: pointer;

  /* border: 1px solid red; */
}
.G > div > h3 {
  /* margin: auto; */
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
}
.G > .card {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  text-align: center;
}
.card > div > p {
  color: #3c3c3c;
  font-size: 25px;
  /* line-height: 1.3;
            letter-spacing: 1px; */
}
.card > div > img {
  width: 200px;
  color: #000000;
}

#skincare-journal {
  display: flex;
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  /* grid-template-columns: 50% 50%;
            justify-content: space-between;
            width: 85%;
            margin: auto;
            margin-top: -60px; */
}

.gallery-cell {
  margin-top: 200px;
  margin-left: 150px;
}
.gallery-cell > p {
  color: #3c3c3c;
  font-size: 27px;
}
.gallery-cell > button {
  margin-left: 150px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
}
/* ......................................SLIDING PART.................................................. */
/* body{
    background-color: black;
} */

.mainslider {
  width: 100%;
  /* border: 1px solid red; */
}

.mainslider div {
  width: 100%;
  /* border: 1px solid red; */
  border-radius: 25px;
  height: auto;
  margin-top: 10px;
}
.mainslider div img {
  width: 100%;
  border-radius: 25px;
}

.secondone {
  max-width: 80%;
  /* border: 1px solid red;  */
  margin: auto;
}
.secondone div {
  border-radius: 25px;
}

.secondone div img {
  width: 100%;
  border-radius: 25px;
}

.custom-slider {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.slick-prev::before,
.slick-next::before {
  /* background-color: black;  */
  color: black;
  font-size: 28px;
}

.slick-prev::before button {
  color: white;
  font-size: 30px;
}

/* ...............................super ............................................................... */
.custom-slider div {
  width: 100%;
  overflow: hidden;

  /* width: 800px; */
  /* margin-bottom: 30px; */
  /* border: 1px solid red;   */
  height: 600px;
  /* width: 220px; */
}

.custom-slider .slick-slide {
  margin: 0 50px;
}

.custom-slider .slick-center {
  transform: scale(1.05);
}

/* height: 100px; */
/* border: 1px solid green;


/* .........................................super .......................................... */

.womenslider {
  margin-top: 20px;
  width: 80%;
  margin: auto;
  /* top:100px; */
  /* height: 250px; */
}

.slick-prev::before,
.slick-next::before {
  background-color: rgba(128, 128, 128, 0);
}

.womenslider div {
  height: 500px;
  width: 100%;
  border-radius: 25px;
  /* border: 1px solid red; */
  text-align: justify;
  /* margin-bottom: 40px; */
}

.womenslider div img {
  width: 90%;
  height: 80%;
  border-radius: 25px;
  /* margin-top: 30px; */
  margin: auto;
}

.womenslider .slick-center img {
  transform: scale(1.1);
}

.ingredients {
  width: 80%;
  margin: auto;
  /* top:100px; */
  /* margin-bottom: 200px; */
  /* height: 250px; */
}

.ingredients div {
  height: 650px;
  width: 100%;
  border-radius: 25px;
  /* border: 1px solid red; */
  text-align: justify;
}

.ingredients div img {
  width: 80%;
  height: 90%;
  border-radius: 25px;
  margin: auto;
}

.ingredients .slick-center img {
  transform: scale(1.1);
}

.single-item {
  width: 80%;
  margin: auto;
}

.single-item div img {
  width: 100%;
  /* margin-top: 140px; */
  /* border: 1px solid red; */
}
/* ................................................. */
#box5 {
  /* border: 1px solid red; */
  height: 450px;
  width: 220px;
}
#box5 > img {
  width: 220px;
  height: 250px;
}
#box5 > div > p {
  /* margin: auto; */
  margin-left: 10px;
  font-size: 12px;
  color: #000000;
}
#box5 > div > h3 {
  padding-left: 20px;
  /* border: 1px solid black; */
  background-color: gray;
  color: white;
  font-size: 18px;
}

.gbtn {
  margin-top: 10px;
  text-decoration: none;
  padding: 20px 50px;
  /* background-color: aqua; */
  position: relative;
}

.gbtn {
  overflow: hidden;
  color: #fff;
  /* border-radius: 30px; */
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3 ease, box shadow 0.3s ease;
}

.gbtn::after {
  content: "";
  width: 400px;
  height: 400px;
  top: -50px;
  left: -100px;
  position: absolute;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.gbtn:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px -10px 25px 0 rgba(39, 200, 255, 0.5);
}

.gbtn:hover::after {
  transform: rotate(150deg);
}
